<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error 404</title>
</head>
<body>
    <div>
        <h2>Opps? This page might have existed some time ago...</h2>
        @Html.ActionLink("Click here to go back to Home", "Index", "Home")
    </div>
</body>
</html>
